// GRDBCipherOSX targets OS X 10.9
MACOSX_DEPLOYMENT_TARGET = 10.9

// GRDBCipheriOS targets iOS 8.0
IPHONEOS_DEPLOYMENT_TARGET = 8.0

// Compiler flags used by stock sqlite3 shipped with Apple operating systems
SQLCIPHER_CFLAGS = -DSQLITE_HAS_CODEC -DSQLITE_TEMP_STORE=2 -DSQLCIPHER_CRYPTO_CC -DSQLITE_ENABLE_API_ARMOR -DSQLITE_ENABLE_FTS3 -DSQLITE_ENABLE_FTS3_PARENTHESIS -DSQLITE_ENABLE_FTS5 -DSQLITE_ENABLE_LOCKING_STYLE=1 -DSQLITE_ENABLE_RTREE -DSQLITE_OMIT_AUTORESET -DSQLITE_OMIT_BUILTIN_TEST -DSQLITE_OMIT_LOAD_EXTENSION -DSQLITE_SYSTEM_MALLOC -DSQLITE_THREADSAFE=2
SQLCIPHER_RELEASE_CFLAGS = -DNDEBUG -DSQLITE_OS_UNIX=1
SQLCIPHER_ARMV6_CFLAGS = -mno-thumb

OTHER_CFLAGS = $(SQLCIPHER_CFLAGS)
OTHER_CFLAGS[arch=armv6] = $(SQLCIPHER_ARMV6_CFLAGS) $(SQLCIPHER_CFLAGS)
OTHER_CFLAGS[config=Release] = $(SQLCIPHER_CFLAGS) $(SQLCIPHER_RELEASE_CFLAGS)
OTHER_CFLAGS[config=Release][arch=armv6] = $(SQLCIPHER_ARMV6_CFLAGS) $(SQLCIPHER_CFLAGS) $(SQLCIPHER_RELEASE_CFLAGS)
